:root {
    --bg-color: #cee4ec;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
}

.header-index {
    position: sticky;
}

.main-box {
    margin: 20rem 0 0 0;
    width: 100ch;
    text-align: center;
}

.brand-tagline {
    font-size: 2rem;
    color: var(--primary-color);
    letter-spacing: 0.1rem;
}

#button-github,
#button-start {
    margin: 2rem;
    padding: 1rem;
}

@media only screen and (max-width: 930px) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }
}