:root {
    --bg-color: #cee4ec;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.header-index {
    position: sticky;
}

.brand-logo {
    width: 40rem;
}

main {
    margin: auto 0;
    width: 100%;
    max-width: 40rem;
    text-align: center;
}

.brand-tagline {
    font-size: 2rem;
    color: var(--primary-color);
    letter-spacing: 0.1rem;
}