.mantra-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: var(--padding-lg);
}

.mantra-nav-title {
    margin-left: var(--margin-left-nav);
}

.mantra-title,
.mantra-cart-button,
.mantra-menu-icon {
    text-decoration: none;
    color: black;
    font-size: var(--txt-size-nav);
    font-weight: bold;
}

.mantra-nav-footer {
    margin-left: auto;
    margin-right: var(--navbar-margin-right);
}