.mantra-button {
    padding: var(--padding-btn-md);
    border-radius: var( --border-btn);
    color: var(--txt-primary);
    font-size: var(--txt-btn-md);
    cursor: pointer;
    border: none;
}

.mantra-primary-btn {
    background-color: var( --primary-color);
    font-size: var(--txt-md);
}

.mantra-outline-btn {
    background-color: var(--txt-primary);
    border: 1px solid var( --primary-color);
    color: var( --primary-color);
}

.mantra-med-btn {
    font-size: var(--txt-md);
}

.mantra-large-btn {
    font-size: var(--txt-lg);
    padding: var(--padding-btn-lg);
}

.mantra-small-btn {
    font-size: var(--txt-sm);
    padding: var(--padding-btn-sm);
}

.mantra-floating-box {
    position: fixed;
    display: flex;
    gap: var(--gap-btn);
    color: var(--primary-color);
    bottom: var(--bottom-float-btn);
    right: var(--right-float-btn);
    cursor: pointer;
}

.mantra-floating-btn {
    border-radius: var(--border-radius-circle);
    box-shadow: var(--shadow);
    width: var( --width-float-btn);
    height: var(--height-float-btn);
    background: var( --primary-color);
}

.mantra-floating-box i {
    font-size: var(--txt-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var( --height-float-icon);
    color: var( --txt-primary);
}

.mantra-link {
    border-radius: var( --border-btn);
    color: var(--txt-primary);
    cursor: pointer;
}

.mantra-link:link,
.mantra-link:visited {
    background-color: var( --primary-color);
    text-decoration: none;
    padding: var(--padding-btn-md);
}

.mantra-link:hover,
.mantra-link:active,
.mantra-link:focus {
    background-color: var( --secondary-color);
}

.mantra-link-button {
    margin: var(--margin-link-btn);
}