<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../component.css">
</head>

<body>
    <div class="mantra-heading-1">Hello </div>
    <div class="mantra-heading-2">wolrd</div>
    <div class="mantra-heading-3">hello</div>
    <div class="mantra-heading-4">hwllo</div>
    <div class="mantra-heading-5">heloo</div>
    <div class="mantra-heading-6">hello</div>
    <div class="mantra-small-text">Hello</div>
    <div class="mantra-text-gray">Hello</div>
    <div class="mantra-text-center">hello</div>
</body>

</html>