<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="component.css">
</head>

<body>
    <div class=" mantra-error-input ">
        <label for="mantra-error ">Error </label>
        <input id="mantra-error " class="mantra-textbox-classic " placeholder=" " />
    </div>
    <div class=" mantra-warning-input ">
        <label for="mantra-warning ">Warning </label>
        <input id="mantra-warning " class="mantra-textbox-classic " placeholder=" " />
    </div>

    <div class="mantra-success-input ">
        <label for="mantra-success ">Success </label>
        <input id="mantra-success " class="mantra-textbox-classic " placeholder=" " />
    </div>
</body>

</html>