@import url(../component/alert/alert.css);
@import url(../component/avatar/avatar.css);
@import url(../component/badge/badge.css);
@import url(../component/button/button.css);
@import url(../component/card/card.css);
:root {
    /* Padding Size */
    --padding-sm: 0.5rem;
    --padding-md: 0.8rem;
    --padding-lg: 1rem;
    --padding-icon: 1rem 0rem;
    --padding-badge: 0.4rem;
    --padding-btn-lg: 0.8rem;
    --padding-btn-md: 0.5rem;
    --padding-btn-sm: 0.2rem;
    /* *************************************** */
    /* Color Primary and Secondary */
    --primary-color: #1299d3;
    --secondary-color: #cee4ec;
    /* *************************************** */
    /*Color for alerts  */
    --success-color: #99cc33;
    --warning-color: #ff6347;
    --danger-color: #ff0000;
    /* *************************************** */
    /* Text color */
    --txt-primary: white;
    --txt-dark: #0e1970;
    /* *************************************** */
    /* Border radius  */
    --border-radius: 0.8rem;
    --border-radius-circle: 50%;
    --border-btn: 0.3rem;
    /* *************************************** */
    /* Margin */
    --margin-left-md: 1rem;
    --margin-right-md: 2rem;
    --margin-bottom: 2rem;
    --margin-top: 2rem;
    /* Avatar width and height */
    --avatar-lg: 8rem;
    --avatar-sm: 2rem;
    --avatar-md: 5rem;
    /* *************************************** */
    /* Font sizes  */
    --txt-lg: 1.8rem;
    --txt-md: 1.4rem;
    --txt-sm: 0.8rem;
    --txt-btn-md: 1rem;
    /* *************************************** */
    /* Position badge */
    --left-md: 0.8rem;
    --bottom-md: 1rem;
    --left-circle-md: 5rem;
    --width-md: 0.5rem;
    --height-md: 0.5rem;
    --bottom-lg: 1.6rem;
    --left-lg: 8rem;
    --width-lg: 0.7rem;
    --height-lg: 0.7rem;
    --bottom-sm: 0.6rem;
    --left-sm: 2.5rem;
    --width-sm: 0.3rem;
    --height-sm: 0.3rem;
    /* *************************************** */
    /* Floating button */
    --gap-btn: 2rem;
    --width-float-btn: 4rem;
    --height-float-btn: 4rem;
    --bottom-float-btn: 3rem;
    --right-float-btn: 3rem;
    --height-float-icon: 100%;
    --shadow: 10px 10px 5px hsl(0, 0%, 67%);
    /* *************************************** */
    /* Link Button */
    --margin-link-btn: 1rem;
    /* *************************************** */
    /* Cards */
    --card-width: 100%;
    --card-width-max: 40rem;
    --box-shadow-card: 10px 4px rgb(0 0 0 / 5%);
    --max-width-img: 12rem;
    --margin-top-btn: 6px;
    --height-img: 100%;
    --card-vert-width-max: 14rem;
    --margin-card-badge: 2rem 0px 0px 0.7rem;
    --text-overlay-top: 50%;
    --text-overlay-left: 30%;
    --text-overlay-maxwidth: 19rem;
}