<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Avatar -->
    <!-- <span>
        <img
          class="mantra-avatar mantra-avatar-large"
          src="https://picsum.photos/200/300"
          alt="avatar-image1"/>
      </span>
    <span>
        <img
          class="mantra-avatar mantra-avatar-medium"
          src="https://picsum.photos/200/300"
          alt="avatar-image2"/>
    </span>
    <span>
      <img
          class="mantra-avatar mantra-avatar-small"
          src="https://picsum.photos/200/300"
          alt="avatar-image3"/>
    </span>
    -->

    <!-- Badge with count -->
    <!-- <div class="mantra-badge">
        <span class="mantra-icon">
          <i class="fa fa-twitter"></i>
        <span class="mantra-count">7</span>
        </span>

        <span class="mantra-icon">
        <i class="fa fa-camera"></i>
        <span class="mantra-count">20</span>
        </span>

        <span class="mantra-icon">
        <i class="fa fa-instagram"></i>
        <span class="mantra-count">16</span>
        </span>

        <span class="mantra-icon">
        <i class="fa fa-whatsapp"></i>
        <span class="mantra-count">500</span>
        </span>
    </div> -->
    <!-- Bages with avatar -->
    <!-- <div>
        <div class="mantra-badge-lg">
            <img class="mantra-avatar mantra-avatar-large" src="https://picsum.photos/200/300" alt="avatar-image1" />
            <span class="mantra-circle mantra-circle-lg"></span>
        </div>

        <div class="mantra-badge-md">
            <img class="mantra-avatar mantra-avatar-medium" src="https://picsum.photos/200/300" alt="avatar-image3" />
            <span class="mantra-circle mantra-circle-md"></span>
        </div>
        <div class="mantra-badge-sm">
            <img class="mantra-avatar mantra-avatar-small" src="https://picsum.photos/200/300" alt="avatar-image2" />
            <span class="mantra-circle mantra-circle-sm"></span>
        </div>


    </div> -->


    <!-- Button -->
    <!-- Primary button -->
    <!-- <button class="mantra-button mantra-primary-btn mantra-large-btn">Primary-solid</button>
    <button class="mantra-button mantra-primary-btn">Primary-solid</button>
    <button class="mantra-button mantra-primary-btn mantra-small-btn">Small-btn</button> -->
    <!--Outline button  -->
    <!-- <button class="mantra-button mantra-outline-btn">Primary-outline</button>
    <button class="mantra-button  mantra-outline-btn mantra-large-btn">Primary-solid</button>
    <button class="mantra-button  mantra-outline-btn mantra-small-btn">Small-btn</button> -->
    <!--Icon button with text  -->
    <!-- <div>
        <button class="mantra-button  mantra-primary-btn mantra-large-btn">
            <i class="fa fa-shopping-cart"></i>
             Cart
          </button>
        <button class="mantra-button mantra-primary-btn">
            <i class="fa fa-facebook"></i>
            Facebook
          </button>
        <button class="mantra-button  mantra-primary-btn mantra-small-btn">
            <i class="fa fa-share"></i>
            Share
          </button>
    </div> -->

    <!--Floating Action button  -->
    <!-- <div class="mantra-floating-box">
        <div class="mantra-floating-btn">
            <i class="fa fa-facebook"></i>
        </div>
        <div class="mantra-floating-btn">
            <i class="fa fa-plus"></i>
        </div>
    </div> -->

    <!--Link button  -->
    <!-- <div class="mantra-link-button">
        <a href="#" class="mantra-link mantra-large-btn">Primary link</a>
        <a href=" # " class="mantra-link ">Link button</a>
        <a href="# " class="mantra-link mantra-small-btn">Link button</a>

    </div> -->
    <!-- Cards -->
    <!-- Horizontal Card -->
    <!-- <div class="mantra-card-holder">
        <div class="mantra-card-holder-image">
            <img class="mantra-card-image" src="https://picsum.photos/200/300" />

            <span class="mantra-count mantra-badge-card">Best Seller</span>

        </div>
        <div class="mantra-card-holder-text">
            <h2>Heading</h2>
            <div>
                <h4>Sub Heading</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, error accusantium eius fuga. Ut sunt earum et dignissimos tempore in omnis veniam a quis officia qui iure architecto. Rem incidunt repudiandae aut fugit rerum non dignissimos molestiae
                    ut provident distinctio rem sequi quaerat.
                </p>
                <span class="mantra-discount">Rs.2000 </span>
                <span class="mantra-original"> Rs.2500</span>
            </div>
            <div class="mantra-card-btn ">
                <button class="mantra-button mantra-primary-btn ">
      <i class="fa fa-shopping-cart "></i>
      Add to cart
    </button>
            </div>
        </div>
    </div> -->
    <!-- Vertical Card -->
    <!-- <div class="mantra-vertical-card">
        <div class="mantra-card-holder-image-v">
            <img class="mantra-vert-image" src="https://picsum.photos/200/300" />
        </div>
        <div class="mantra-card-holder-text-vert">
            <div class="mantra-card-holder-text-content">
                <h2>Heading</h2>
                <h4>Sub Heading</h4>
                <span class="mantra-discount">Rs.300</span>
                <span class="mantra-original">Rs.400</span>
            </div>
        </div>
        <div class=" mantra-card-btn ">
            <button class="mantra-button mantra-primary-btn ">
      <i class="fa fa-shopping-cart "></i>
      Add to cart
    </button>
        </div>

    </div> -->

    <!-- Dissmiss card -->
    <!-- <div class="mantra-vertical-card">
        <div class="mantra-icon mantra-close-icon">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
        <div class="mantra-card-holder-image-v">
            <img class="mantra-vert-image" src="https://picsum.photos/200/300" />
        </div>
        <div class="mantra-card-holder-text-vert">
            <div class="mantra-card-holder-text-content">
                <h2>Heading</h2>
                <h4>Sub Heading</h4>
                <span class="mantra-discount">Rs.300</span>
                <span class="mantra-original">Rs.400</span>
            </div>
        </div>
        <div class=" mantra-card-btn ">
            <button class="mantra-button mantra-primary-btn ">
      <i class="fa fa-shopping-cart "></i>
      Add to cart
    </button>
        </div>

    </div> -->
    <!-- Text over card -->
    <!-- 
    <div class="mantra-vertical-card mantra-text-overlay-card ">
        <div class="mantra-icon mantra-close-icon">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
        <div class="mantra-card-holder-image-v">
            <img class="mantra-vert-image" src="https://picsum.photos/200/300" />
        </div>
        <div class="mantra-card-holder-text-vert">
            <div class="mantra-card-holder-text-content">
                <h2>Heading</h2>
                <h4>Sub Heading</h4>
                <span class="mantra-discount">Rs.300</span>
                <span class="mantra-original">Rs.400</span>
            </div>
        </div>
        <div class=" mantra-card-btn ">
            <button class="mantra-button mantra-primary-btn ">
      <i class="fa fa-shopping-cart "></i>
      Add to cart
    </button>
        </div>
        <div class="mantra-text-overlay">
            <span>Out of Stock</span>
        </div>

    </div> -->
    <!-- Card text only -->
    <!-- <div class="mantra-text-card">
        <h2>Heading</h2>
        <h4>Sub Heading</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, error accusantium eius fuga. Ut sunt earum et dignissimos tempore in omnis veniam a quis officia qui iure architecto. Rem incidunt repudiandae aut fugit rerum non
        </p>
        <button class="mantra-button mantra-primary-btn">Contact</button>
    </div> -->


    <!-- Image responsiveness -->

    <!-- <div class="mantra-responsive-image">
        <img src="https://picsum.photos/200/300" />
    </div>
    <div class="mantra-image-rounded  mantra-responsive-image">
        <img src="https://picsum.photos/200/300" />
    </div> -->


    <!-- Input Component -->
    <!-- <div>
        <input class="mantra-textbox-classic mantra-highlight-box" type="text">
    </div>

    <div>
        <label for="email"></label>
        <input id="email" class="mantra-textbox-classic mantra-highlight-box" type="email" placeholder="  Enter Email" required />
    </div>
    <div>
        <label for="pass"></label>
        <input id="pass" class="mantra-textbox-classic mantra-highlight-box " type="password" placeholder="  Enter Password" required />
    </div>




    <div class=" mantra-error-input">
        <label for="mantra-error">Error </label>
        <input id="mantra-error" class="mantra-textbox-classic" placeholder=" " />
    </div>
    <div class=" mantra-warning-input">
        <label for="mantra-warning">Warning </label>
        <input id="mantra-warning" class="mantra-textbox-classic" placeholder=" " />
    </div>

    <div class="mantra-success-input">
        <label for="mantra-success">Success </label>
        <input id="mantra-success" class="mantra-textbox-classic" placeholder=" " />
    </div> -->

</body>

</html>


<!-- Wrap inside a div element and then give position relative to that div.
.iframe{
position: absolute;
top:0;
bottom:0;
right:0;
left:0;
width: 100%;
height:100%;
} -->